* { margin: 0; padding: 0; }
* html body * { overflow: visible; }
* html iframe, * html frame { overflow: auto; }
* html frameset { overflow: hidden; }
html { height: 100%; margin-bottom: 1px; }

body { 
	color: #000; 
}

fieldset, img { border: 0 solid; }
body { text-align: left; }
#page_wrapper {
/*	max-width: 83.4em;
	min-width: 984px;	*/
	width: 1004px;
/*	margin: 0 auto;*/
	margin-left: 3px;
}
#headertop {
	width: 736px;
	height: 64px;
	margin-left: 49px;
	margin-top: 3px;
	background-image: url(../grafix/topheader.gif);
	background-repeat: no-repeat;
	float: left;	
}
#headertopright {
	float: left;
	margin-left: 3px;
	margin-top: 3px;	
	width: 212px;
	height: 64px;
	position: relative;
}
.headertopright {
	position: absolute;
	left: 0;
	/*bottom: 0;*/
	width: 212px;	
}
#header {
	margin-top: 3px;
	margin-left: 1px;
}
.header {
	float:left; 
	width: 784px;
	height: 140px;
	background-image: url(../grafix/header_winter.jpg);
	background-repeat: no-repeat;
}
.bannerrotation {
	float:left; 
	margin-left: 3px; 
	height: 140px; 
	width: 212px;	
/*	background-color: #eee;*/
}
#myGallery
{
	text-align: left;
	margin: 0 auto;
}

.clear {
	clear: both; 
	height: 3px;
}
#navigation {
	width: 736px;
	height: 34px;
	margin-left: 49px;
	margin-bottom: 3px;
	background-color: #557c00;
}
#page {
	width: 1000px;
	margin-bottom: 3px;
	padding-bottom: 10px;
	min-height: 400px;
}
#left {
	float: left;
	width: 46px;
	background-repeat: no-repeat;
	background-position: bottom left;
	min-height: 450px;	
}
#content {
	background-color: #def2c4;	
	float:left; 
	width: 736px;	
	min-height: 450px;	
	margin-left: 3px;
}
.content {
	margin-left: 70px;
	margin-top: 28px;
	margin-bottom: 10px;
}
#teaser {
	float:left; 
	margin-left: 3px;
	width: 212px;	
	background-color: #fff;
	position: relative;
	min-height: 450px;
}
.teaser {
	margin-left: 10px;
	height: 100%;
}
#footer {
	background-color: #557c00;
	height: 35px;
	width: 212px; 
	position: absolute; 
	bottom: 0; 
	left: 0;	
}

.abstand_unten {
	clear: both;
	height: 10px; 
	width: 100%;
}