
.content { 
	height: 450px;
}
.content { 
	height: 450px;
}
#teaser {
	height: 450px;
}
.teaser {
	height: 450px;
}

#left {
	height: 450px;
}
.left {
	height: 450px;
}

.clear {
	clear: both; 
	height: 0px;
	margin: 0;
	padding: 0;
	display: inline;
}

#headertop {
	width: 736px;
	height: 64px;
	margin-left: 24.5px; 
}

.abstand_unten {
	height: 0px; 
	width: 100%;
}
