

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 100%; /* 12px */
	color: #003300;
}

.content {
	font-size: 0.75em;
}

.content a {
	text-decoration: none;
	color: #003300;
	font-weight: bold;
}
.content a:hover {
	text-decoration: underline;
}

.teaser a {
	text-decoration: none;
	color: #e97203;
	font-size: 0.75em;
}
.teaser a:hover {
	text-decoration: underline;
}
#teaser strong {
	font-size: 0.75em;
}

.content strong {
	font-size: 1em;
}

table.tourenarchiv td.bold {
	font-weight: bold;
	vertical-align: top;
}
td {
	line-height: 18px;
}
p {
	margin-bottom: 20px;
	margin-top: 20px;	
	line-height: 20px;
	padding-right: 20px;
}
.tourenarchivliste p {
	margin-bottom: 10px;
	margin-top: 5px;	
	line-height: 10px;
	padding-right: 20px;
}

.tourenarchiv_datum {
	margin-bottom: 10px;
}

p.big {
	margin-bottom: 20px;
	margin-top: 20px;	
	line-height: 24px;
	font-weight: bold;
	font-size: 1.3em; /* 16px */
	padding-right: 20px;	
}
h1, h2 {
	font-weight: bold;
	font-size: 1.3em; /* 16px */
	line-height: 24px;	
	margin-bottom: 5px;	
	margin-top: 5px;		
}
h2.orange {
	font-weight: bold;
	font-size: 1em; /* 16px */
	line-height: 24px;	
	color: #e97203;
}

#myGallery h2 {
	line-height: 12px;
}
.trenner {
	width: 100%;
	height: 1px;
	background-image: url(../grafix/trenner.gif);
	background-repeat: no-repeat;	
}
div.headertopright {
	color: #e97203;
	text-align: right;
	font-weight: bold;
}

div.anfragen {
	height: 54px;
	width: 212px; 
	position: absolute; 
	bottom: 38px; 
	left: 0;	
}

/*####################################*/
/* Kontaktformulare */
.content form  {

}
.content form input.text {
	display: block;
	float: left;
	width: 270px;
	height: 15px;
	border: 1px solid #003300;
	margin: 8px 5px 5px 2px;
}

.content form img {
	display: block;
	float: left;
	height: 15px;
	margin: 14px -10px 0px 2px;
	width: 80px;
	height: 15px;
}

.content form input#Captcha {
	margin-top: 12px;
	margin-left: 0px;
}

.content form input.textschmal {
	display: block;
	float: left;
	width: 28px;
	height: 15px;
	border: 1px solid #003300;
	margin: 8px 5px 5px 2px;
}
.content form input.button {
	display: block;
	float: left;
	width: 6em;
	border: 1px solid #47780a;
	margin: 1px;
	padding: 1px;
	font-size: 1em;
	background-color: #ece9d8;
	color: #003300;
}
.content form textarea {
	display: block;
	float: left;
	width: 265px;
	border: 1px solid #003300;
	margin: 10px 5px 5px 2px;
	padding: 2px;	
	overflow: auto;
	height: 5em;
}
.content form input.checkbox {
	margin: 10px 5px 5px 2px;
}
.content form label { 
	width: 150px; 
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 0px;
	float: left; 
	text-align: left;
}
.content form p {
	clear: left;
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.content .fehler {
	color: #cc0000;
	font-weight: bold;
}
.content form input.fehler {
	display: block;
	float: left;
	width: 270px;
	height: 15px;
	border: 1px solid #cc0000;
	margin: 8px 5px 5px 2px;
	color: #000;
	font-weight: normal;
}
.content form input.captcha {
	width: 28px;
}
.content form label{
	font-weight: bold;
}
.content form div{
	/*margin-bottom: 50px;*/
	clear: both;
}
.content form div.spacer{
	height: 25px;
}
.content form div ul{
	list-style: none;
}
.content form div ul li,.g-recaptcha{
	margin-left: 161px;
}
.content .alert{
	font-weight: bold;
}
.g-recaptcha{
	float: left;
	margin-top: -25px;
}

.g-button{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	box-sizing: border-box;
	display: block;
	width: 212px;
	height: 54px;
	padding: 7px 0px 0px 30px ;
	background-image: url("/grafix/button_gruen.gif");

}

.g-button-gruen{
	background-image: url("/grafix/button_gruen.gif");
}

.g-button-orange{
	background-image: url("/grafix/button_orange.gif");
}
.g-button-1-lines{
	padding: 17px 0 0 30px ;
}
.g-button-2-lines{
	padding: 5px 0 0 30px ;
}
.bx-caption{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

@media print {
	/* All your print styles go here */
	#headertopright,#header,#navigation,#teaser,#left,.abstand_unten { display: none !important; }
}