<span class="error">{$form.msg}</span>
<div class="touren">
<table>
	<tr>
		<td>Benutzer:<br>
		<select name="sel_beuserOID">
		{foreach from=$beuserList item=tmpbeuser}
		<option value="{$tmpbeuser->getOID()}" {if $form.sel_beuserOID==$tmpbeuser->getOID()} selected{/if}>{$tmpbeuser->getUsername()}</option>
		{/foreach}
		</select>
		</td>
		<td><br><input type="submit" name="action_edit" value="Bearbeiten" class="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><br><input type="submit" name="action_add" value="Neu" class="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><br><input type="submit" name="action_delete" value="Löschen" class="button"></td>
	</tr>
</table>
</div>
{if is_array($form.errors)}
{foreach from=$form.errors key=error_key item=error_msg}
	<span class="error" style="margin-left:5px;">{$error_msg}</span><br>
{/foreach}
{/if}

{if isset($form.sel_beuserOID) || $form.action_add ne ""}
<input type="hidden" name="OID" value="{$beuser->OID}"><br>&nbsp;<br>
<div class="touren">
<table class="data" cellpadding="0" cellspacing="0" border="0" width="40%">
	<tr>
		<td class="data">Benutzername</td>
		<td class="data"><input type="text" name="username" value="{$beuser->username}" size="80"></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td class="data">Passwort</td>
		<td class="data"><input type="password" name="password" value="{$beuser->password}" size="80"></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td class="data">Ist Administrator</td>
		<td class="data"><select name="is_admin">
		<option value="y"{if $beuser->is_admin=="y"} selected{/if}>ja</option>
		<option value="n"{if $beuser->is_admin=="n"} selected{/if}>nein</option>
		</select>
		</td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td></td>
		<td><input type="submit" name="action_save" value="Speichern" class="button"></td>
	</tr>
</table>
</table>
</div>
{/if}
