
<input type="hidden" name="OID" value="{$beuser->OID}"><br>&nbsp;<br>
<div class="links">
<table class="data" cellpadding="0" cellspacing="0" border="0" width="40%">
	<tr>
		<td class="data" colspan="2"><strong>Hinweis:</strong> Links bitte ohne http:// eingeben!</td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>	
	<tr>
		<td class="data" valign="top">ausgew&auml;hlte Links</td>
		<td class="data">
			<textarea name="link_ausgewaehlt">{foreach from=$link_ausgewaehlt item=tmplink_ausgewaehlt}{$tmplink_ausgewaehlt}{/foreach}</textarea>
		</td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>	
	<tr>
		<td class="data" valign="top">weitere Links</td>
		<td class="data">
			<textarea name="link_weitere">{foreach from=$link_weitere item=tmplink_weitere}{$tmplink_weitere}{/foreach}</textarea>
		</td>
	</tr>	
	
	<tr><td colspan="2" style="height: 20px;"></td></tr>


	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td></td>
		<td><input type="submit" name="action_save" value="Speichern" class="button"></td>
	</tr>
</table>
</table>
</div>
