<span class="error">{$form.msg}</span>
<div class="touren">
<table>
	<tr>
		<td>Tour:<br>
		<select name="sel_tourOID">
		{foreach from=$tourList item=tmptour}
		<option value="{$tmptour->getOID()}" {if $form.sel_tourOID==$tmptour->getOID()} selected{/if}>{$tmptour->date_mysql2german($tmptour->getDatum())} - {$tmptour->getTitel()}</option>
		{/foreach}
		</select>
		</td>
		<td><br><input type="submit" name="action_edit" value="Bearbeiten" class="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><br><input type="submit" name="action_add" value="Neu" class="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><br><input type="submit" name="action_delete" value="Löschen" class="button"></td>
	</tr>
</table>
</div>
{if is_array($form.errors)}
{foreach from=$form.errors key=error_key item=error_msg}
	<span class="error" style="margin-left:5px;">{$error_msg}</span><br>
{/foreach}
{/if}

{if isset($form.sel_tourOID) || $form.action_add ne ""}
<input type="hidden" name="OID" value="{$tour->OID}"><br>&nbsp;<br>
<div class="touren">
<table  cellpadding="0" cellspacing="0" border="0" width="50%">
	{*if $tour->hidden eq 1*}
	<tr>
		<td>Vorschau:</td>
		<td>
			<a href="index.php?action_aktuelle_tour_detail=1&amp;OID={$tour->OID}&amp;hidden=1" target="_blank">Vorschau</a>
		</td>
	</tr>
	{*/if*}
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td>Verstecken:</td>
		<td><input style="width:20px;border:0;" type="checkbox" name="hidden" value="1" {if $tour->hidden eq 1}checked="checked"{/if} /></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>		
	<tr>
		<td width="20%">Titel</td>
		<td width="80%"><input type="text" name="titel" value="{$tour->titel}" size="80" /></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td>Termin</td>
		<td>
      <input type="text" name="datum" class="readonly" readonly="readonly" value="{$tour->datum}" size="80" />
      <script type="text/javascript">
        new tcal ({literal}{{/literal}
		      'formname': 'be_form',
		      'controlname': 'datum'
		      {literal}}{/literal});
      </script>
    </td>
	</tr>
  <tr><td colspan="2" style="height: 20px;"></td></tr>	
	<tr>
		<td>Tourenbeginn</td>
		<td><input type="text" name="uhrzeit" value="{$tour->uhrzeit}" size="80" /></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td valign="top">Treffpunkt</td>
		<td><textarea name="treffpunkt">{$tour->treffpunkt}</textarea></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td valign="top">Parkm&ouml;glichkeit</td>
		<td><textarea name="parkmoeglichkeit">{$tour->parkmoeglichkeit}</textarea></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td valign="top">Tour/Wanderweg</td>
		<td><textarea name="wanderweg">{$tour->wanderweg}</textarea></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td>Region</td>
		<td><input type="text" name="region" value="{$tour->region}" size="80" /></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td>Tourenl&auml;nge</td>
		<td><input type="text" name="laenge" value="{$tour->laenge}" size="80" /></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td>Dauer der Tour</td>
		<td><input type="text" name="dauer" value="{$tour->dauer}" size="80" /></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td valign="top">Bodenbeschaffenheit</td>
		<td><textarea name="bodenbeschaffenheit">{$tour->bodenbeschaffenheit}</textarea></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td>Schwierigkeit</td>
		<td><input type="text" name="schwierigkeit" value="{$tour->schwierigkeit}" size="80" /></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td valign="top">Besonderheiten</td>
		<td><textarea name="besonderheiten">{$tour->besonderheiten}</textarea></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td valign="top">Unkostenbeitrag</td>
		<td><textarea name="teilnahmegebuehr">{$tour->teilnahmegebuehr}</textarea></td>
	</tr>
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td>max. Teilnehmer:</td>
		<td><input type="text" name="max_teilnehmer" value="{$tour->max_teilnehmer}" size="80" /></td>
	</tr>	
	<tr><td colspan="2" style="height: 20px;"></td></tr>
	<tr>
		<td valign="top">Bilder:</td>
		<td>
    	{if !empty($tour->OID)}
	    	<span style="color: red;">Hochkantbilder bitte nicht f&uuml;r die Bildrotation verwenden!</span>
			{foreach from=$fileList key=file_key item=bild}
			<div style="border:1px solid black; width:400px; margin-bottom:10px; padding: 5px;">
				<img width="80" src="/index.php?action_imagefile=1&OID={$bild->OID}&width=80&height=80" border="0" /><br />
				Titel<br />
				<input type="text" name="bild_metadaten[{$bild->OID}][titel]" value="{$bild->titel}" size="45" /><br />
				Sortierung<br />
				<input type="text" name="bild_metadaten[{$bild->OID}][sortierung]" value="{$bild->sortierung}" size="3" /><br />
				<table>
					<tr>
						<td>
							Tourenvorschau&nbsp;&nbsp;&nbsp;	
						</td>
						<td>
							<input style="width:20px;border:0;" type="checkbox" name="bild_metadaten[{$bild->OID}][parkmoeglichkeit]" value="1" {if $bild->parkmoeglichkeit eq 1}checked="checked"{/if} />		
						</td>									
					</tr>
					<tr>
						<td>
							Treffpunkt&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<input style="width:20px;border:0;" type="checkbox" name="bild_metadaten[{$bild->OID}][treffpunkt]" value="1" {if $bild->treffpunkt eq 1}checked="checked"{/if} />		
						</td>									
					</tr>
					<tr>
						<td>
							Bildrotation&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<input style="width:20px;border:0;" type="checkbox" name="bild_metadaten[{$bild->OID}][bildrotation]" value="1" {if $bild->bildrotation eq 1}checked="checked"{/if} />		
						</td>									
					</tr>					
					<tr>
						<td>
							L&ouml;schen&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<input style="width:20px;border:0;" type="checkbox" name="bild_loeschen[{$bild->OID}]" />		
						</td>									
					</tr>
				</table>								
				</a>
			</div>
			{/foreach}
			<div style="border:1px solid black; width:400px; margin-bottom:10px; padding: 5px;">
				Neues Bild hinzuf&uuml;gen<br />
				<input name="img[]" type="file" size="71" /><br /><br />
				<input type="submit" name="action_save" value="Bild hochladen" class="button" />
			</div>
		{else}		
			Bitte speichern sie das Projekt, bevor Sie Bilder hinzuf&uuml;gen.
		{/if}		
      </td>
	</tr>	
	<tr><td colspan="2" style="height: 30px;"></td></tr>	
	<tr>
	 <td></td>
		<td><input type="submit" name="action_save" value="Speichern" class="button" /></td>
	</tr>
	<tr><td colspan="2" style="height: 50px;"></td></tr>
</table>
</div>
{/if}

