
<h1>{$aktuelleTour->getTitel()}</h1>

<div class="trenner"></div>

<table width="100%" class="tourenarchiv">
  <tr><td colspan="2" height="18">&nbsp;</td></tr>
  <tr>
    <td class="bold" width="27%">Termin:</td>
    <td width="73%">
		{$aktuelleTour->date_mysql2german($aktuelleTour->getDatum())}    
    </td>
  </tr>
  <tr>
    <td class="bold">Tourenbeginn:</td>
    <td>
		{$aktuelleTour->getUhrzeit()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Treffpunkt:</td>
    <td>
		{$aktuelleTour->getTreffpunkt()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Parkm&ouml;glichkeit:</td>
    <td>
		{$aktuelleTour->getParkmoeglichkeit()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Tour/Wanderweg:</td>
    <td>
		{$aktuelleTour->getWanderweg()}    
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Region:</td>
    <td>
		{$aktuelleTour->getRegion()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Tourenl&auml;nge:</td>
    <td>
		{$aktuelleTour->getLaenge()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Dauer der Tour:</td>
    <td>
		{$aktuelleTour->getDauer()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Bodenbeschaffenheit:</td>
    <td>
		{$aktuelleTour->getBodenbeschaffenheit()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Schwierigkeit:</td>
    <td>
		{$aktuelleTour->getSchwierigkeit()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Besonderheiten:</td>
    <td>
		{$aktuelleTour->getBesonderheiten()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Unkostenbeitrag:</td>
    <td>
		{$aktuelleTour->getTeilnahmegebuehr()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">max. Teilnehmer:</td>
    <td>
		{$aktuelleTour->getMax_teilnehmer()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
</table>

<div class="trenner"></div>

<table width="100%" class="tourenarchiv">
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td width="27%" class="bold">&nbsp;</td>
    <td width="73%">
      Leihgeb&uuml;hr f&uuml;r Nordic-Walking-St&ouml;cke: 2,50 &euro;<br />
      (wenn m&ouml;glich bitte vorher anmelden)    
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td width="27%" class="bold">&nbsp;</td>
    <td width="73%">
      Organisatoren: Rainer, Sylvia und Max Uhlig<br />
      Telefon: 0177 40 56643 (Not-Telefon f&uuml;r R&uuml;ckfragen vor dem Start)    
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
</table>



