<h1>Anmeldung zur aktuellen Tour "{$aktuelleTour->getTitel()}" am {$aktuelleTour->date_mysql2german($aktuelleTour->getDatum())}</h1>

<div class="trenner" style="margin-bottom: 10px; margin-top: 6px;"></div>

{$form.errors.hinweis}

<form name="aktuelle_tour_form" action="index.php?action_aktuelle_tour_form_commit=1" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <input type="hidden" name="OID" value="{$aktuelleTour->getOID()}" />
  <fieldset>
    <legend></legend>
    <p>
      <label for="Name"><strong {if $form.errors.name == 1}class="fehler"{/if}>Name:</strong></label>
      <input id="Name" tabindex="1" class="name{if $form.errors.name == 1} fehler {else} text {/if}" type="text" maxlength="50" name="aktuelle_tour_formular_name" value="{$form.aktuelle_tour_formular_name}" />
    </p>
    <p>
      <label for="Vorname"><strong {if $form.errors.vorname == 1}class="fehler"{/if}>Vorname:</strong></label>
      <input id="Vorname" tabindex="2" class="vorname{if $form.errors.vorname == 1} fehler {else} text {/if}" type="text" maxlength="50" name="aktuelle_tour_formular_vorname" value="{$form.aktuelle_tour_formular_vorname}" />
    </p>    
    <p>
      <label for="E-Mail"><strong {if $form.errors.email == 1}class="fehler"{/if}>E-Mail:</strong></label>
      <input id="E-Mail" tabindex="3" class="email{if $form.errors.email == 1} fehler {else} text {/if}" type="text" maxlength="50" name="aktuelle_tour_formular_email" value="{$form.aktuelle_tour_formular_email}" />
    </p>
    <p>
      <label for="Telefon"><strong {if $form.errors.telefon == 1}class="fehler"{/if}>Telefon:</strong></label>
      <input id="Telefon" tabindex="4" class="telefon{if $form.errors.telefon == 1} fehler {else} text {/if}" type="text" maxlength="50" name="aktuelle_tour_formular_telefon" value="{$form.aktuelle_tour_formular_telefon}" />
    </p>
    <div style="float: left; height: 10px; margin-top: 5px;">
      <label for="Stoecke"><strong>Ich m&ouml;chte:</strong></label>
    </div>
    <div style="float: left; height: 10px; margin-top: 5px;">
      <input id="Stoecke" tabindex="5" class="stoecke textschmal" type="text" maxlength="10" name="aktuelle_tour_formular_stoecke" value="{$form.aktuelle_tour_formular_stoecke}" />
    </div>
    <div style="float: left; height: 10px; margin-top: 5px; padding-top: 10px;">
      <strong>Paar Nordic Walking St&ouml;cke ausleihen.</strong>
    </div>
    <div style="clear: both;"></div>
    <div style="float: left; height: 10px; margin-top: 15px;">
      <label for="Freunde"><strong>Ich bringe:</strong></label>
    </div>      
    <div style="float: left; height: 10px; margin-top: 15px;">
      <input id="Freunde" tabindex="6" class="freunde textschmal" type="text" maxlength="10" name="aktuelle_tour_formular_freunde" value="{$form.aktuelle_tour_formular_freunde}" />
    </div>      
    <div style="float: left; height: 10px; margin-top: 15px; padding-top: 10px;">
      <strong>Freunde mit.</strong>
    </div>      
    <div style="clear: both;"></div>
    <div style="float: left; height: 25px; margin-top: 15px; margin-bottom: 10px;">
      <label for="Tourenankuendigung"><strong>Tourenank&uuml;ndigung:</strong></label>
    </div>      
    <div style="float: left; height: 25px; margin-top: 15px; margin-bottom: 10px;">      
      <input id="Tourenankuendigung" tabindex="7" class="tourenankuendigung checkbox" type="checkbox" name="aktuelle_tour_formular_tourenankuendigung" checked="checked" value="1" />
    </div>      
    <div style="float: left; height: 25px; margin-top: 15px; margin-bottom: 10px; padding-top: 10px;">      
      Bitte nehmt mich in den Verteiler der Tourenank&uuml;ndigung auf.
    </div>
    <p>
      <label for="Nachricht"><strong>Deine Nachricht:</strong></label>
      <textarea id="Nachricht" tabindex="8" rows="10" cols="30" name="aktuelle_tour_formular_nachricht">{$form.aktuelle_tour_formular_nachricht}</textarea>
    </p>
    
	<div style="float: left; height: 25px; margin-top: 5px; margin-bottom: 10px;">
		<label for="Captcha"><strong>Sicherheitsabfrage:</strong></label>
	</div>
	<div style="float: left; height: 25px; margin-top: 15px; margin-bottom: 40px;">	
    	Bitte trage das Ergebnis der Gleichung in das Eingabefeld ein.<br />
    	<img src="/index.php?action_captcha=1" alt="Bitte l&ouml;se diese Aufgabe" title="Bitte l&ouml;se diese Aufgabe" /><input id="Captcha" tabindex="9" class="captcha{if $form.errors.sicherheitscode == 1} fehler {else} text {/if}" type="text" maxlength="2" name="aktuelle_tour_formular_sicherheitscode" />
	</div>    
    
    <p>
      <label for="Absenden"></label>
      <input name="aktuelle_tour_form_submit" id="Absenden" tabindex="10" type="submit" value="Absenden" class="button" />
    </p>
  </fieldset>
</form>

<div class="trenner" style="margin-bottom: 10px; margin-top: 20px;"></div>

<table width="100%">
  <tr><td colspan="4" height="18">&nbsp;</td></tr>
  <tr>
    <th colspan="2" align="left" width="40%">Unkostenbeitrag</th>
    <th colspan="2" align="left" width="60%">Leihgeb&uuml;hr</th>    
  </tr>
  <tr><td colspan="4" height="18">&nbsp;</td></tr>  
  <tr>
    <td width="40%" colspan="2">{$aktuelleTour->getTeilnahmegebuehr()}</td>
    <td width="35%">Ein Paar Nordic Walking St&ouml;cke:</td>
    <td width="25%">2,50 Euro</td>        
  </tr>
</table>