<script type="text/javascript">
{literal}
function startGallery() {
	var myGallery = new gallery($('myGallery'), {
		timed: true,
		delay: 5000,
		showArrows: false,
		showCarousel: false,
		embedLinks: false
	});
	document.gallery = myGallery;
}
window.onDomReady(startGallery);
{/literal}
</script>

<div id="myGallery">
  {foreach from=$rotation item=tmprotation}
	<div class="imageElement">  
		<h3>{$tmprotation->getTitel()}</h3>
		<p>&nbsp;</p>
		<a href="#" title="open image" class="open"></a>  
  		<img width="212" src="/index.php?action_imagefile=1&amp;OID={$tmprotation->getOID()}&amp;width=212&amp;height=140" alt="" class="full" />
  		<img width="212" src="/index.php?action_imagefile=1&amp;OID={$tmprotation->getOID()}&amp;width=212&amp;height=140" alt="" class="thumbnail" />
  	</div>
  {/foreach}
</div>
