<div class="footermenue">
  <ul>
    <li{if $menue_item=="startseite"} class="current"{/if}><a href="index.php?action_start=1">Home</a></li>
    <li{if $menue_item=="kontakt"} class="current"{/if}><a href="index.php?action_kontakt_form=1">Kontakt</a></li>
    <li{if $menue_item=="impressum"} class="current"{/if}><a href="index.php?action_impressum=1">Impressum</a></li>
  </ul>
</div>