<style>
    {literal}
    dl {
        padding: 0.5em;
    }
    dt {
        float: left;
        clear: left;
        width: 100px;
        text-align: right;
        font-weight: bold;
        color: green;
    }
    dt:after {
        content: ":";
    }
    dd {
        margin: 0 0 0 110px;
        padding: 0 3em 0.5em 0;
    }
    {/literal}
</style>
<h2>Beschreibung</h2>

<p>
    Die 66 m² große und liebevoll frisch sanierte 2 Raum Wohnung befindet sich im Hochparterre eines Zweifamilienhauses.
    Direkt im Grünen, am Zugang zum Volkspark Prenzlauer Berg. Genießen Sie den Komfort einer gut ausgestatteten Küche.
    Der Wohnraum bietet eine gemütliche Atmosphäre mit einem großen Design Sofa, welches als Doppelbett nutzbar ist.
    Außerdem stehen Ihnen kostenloses WLAN, Berlin Bücher und Karten zur Verfügung. Das Schlafzimmer verfügt über ein
    großes Doppelbett (200x200cm), inklusive Bettwäsche und Handtüchern. Die Wohnung ist für 2 Personen optimal,
    bietet jedoch problemlos auch 4 Personen Platz.
</p>

<h2>Umfeld/Lage </h2>
<p>
    Aufgrund der direkten Lage am Park eignet sich die Wohnung sehr gut für Jogger und Walker die der Hektik der Großstadt entfliehen möchten.
    <br/>
    Wer möchte, kann sich ein Fahrrad gegen eine geringe Gebühr ausleihen.
</p>
<p> Die Nutzung des Gartens ist jederzeit möglich. <br/>
    Das Haus ist ein Nichtraucherhaus. <br/>
    Im Gegensatz zum Zentrum ist hier sehr ruhig, Einkaufsmöglichkeiten sind vorhanden und fußläufig erreichbar.
    In der Nähe befindet sich das Andel's Hotel aus dessen Café und Bar man einen traumhaften Blick über Berlin hat.
    <br/>
    Den Friedrichshainer Kiez wie auch das Zentrum des Szenebezirkes Prenzlauer Berg erreicht man in wenigen Minuten mit dem Fahrrad.
    <br/>
</p>

<h2>Ausstattung</h2>
<dl>
<dt>Wohnzimmer</dt>
<dd>großes Design Sofa, als ausziehbares Doppelbett (140x220) nutzbar
32" Flat Screen-TV, WLAN, Berlin Bücher, Karten, Berlin-Tipps
Erker als Arbeitszimmer mit großem Schreibtisch
</dd>

<dt>Schlafzimmer</dt>
<dd>Bett (200x200cm); Kleiderschrank, Kofferablage und Stauraum</dd>

<dt>Küche</dt>
<dd>    großes Inductionskochfeld, Kühlschrank,Wasserkocher, Toaster,
Kaffeemaschine, Grundausstattung für Frühstück und zum Kochen
</dd>


<dt>Bad</dt>
<dd>mit Dusche, Benutzung Waschmaschine und Trockner
nach Absprache möglich
</dd>
</dl>
<p>
Außenterrasse mit Tisch und 2 Bänken (Rauchen nur im Garten erlaubt!)
Die Wohnung befindet Hochparterre  ohne Aufzug! (5 Stufen)
</p>

<h2>Verkehrsanbindung</h2>
<table style="padding: 0;padding-right: 5px; margin: 0;border: 0;width: 500px;">
    <tr>
        <td width="20"  style="padding-right: 5px;"><img src="/grafix/sbahn.jpg" width="20" height="20" border="0"></td>
        <td>S-Bahn ca 10 Min fußläufig (S8, S9, S41, S42)</td>
    </tr>
    <tr>
        <td width="20"><img src="/grafix/ubahn.jpg" width="20" height="20" border="0"></td>
        <td>U-Bahn ca 10 Min mit dem Auto </td>
    </tr>
    <tr>
        <td width="20"><img src="/grafix/bus.jpg" width="20" height="20" border="0"></td>
        <td>Bus 6 Min fußläufig  (200, 156)</td>
    </tr>
    <tr>
        <td width="20"><img src="/grafix/tram.jpg" width="20" height="20" border="0"></td>
        <td>Tram 11 Min fußläufig (M5, M6, M8)</td>
    </tr>
    <tr>
        <td width="20"><img src="/grafix/airport.jpg" width="20" height="20" border="0"></td>
        <td>Flugplatz 13,2 km / 36 Min mit dem Auto </td>
    </tr>
    <tr>
        <td width="20"><img src="/grafix/autobahn.jpg" width="20" height="20" border="0"></td>
        <td>Autobahnzubringer 5,2 km / 15 Min mit dem Auto</td>
    </tr>
    <tr>
        <td width="20"><img src="/grafix/arrow.jpg" width="20" height="20" border="0"></td>
        <td>Entfernung zum Stadtzentrum: 3,8 km bis zum Alex / 15 min mit dem Bus</td>
    </tr>
</table>

<h2 style="padding-top: 20px">Miete</h2>
<dl>
    <dt>Lage im Haus</dt> <dd>Erdgeschoss</dd>
    <dt>Wohnfläche</dt> <dd>ca. 66 m²</dd>
    <dt>Miete</dt><dd>
    75 € pro Nacht (für 2 Personen)<br/>
    jede weitere Person zahlt 12 €/Nacht<br/>
    500 € pro Woche (für 2 Personen) <br/>
    1500 € pro Monat (für 2 Personen) <br/>
    Endreinigung:	35 € <br/>
    Fahrradverleih 10 €/pro Rad und Tag

</dd>
</dl>




<div class="trenner" style="margin-bottom: 30px;"></div>
<h2 style="padding-top: 20px">Impressionen</h2>
<div id="fewoGallery" >
    <div class="imageElement">
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/00_Panorama.jpg" alt="" class="full" />
        <h4>Umfeld</h4>
    </div>
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/01_Garten.jpg" alt="" class="full" />
        <h4>Garten</h4>
    </div>
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/02_Garten.jpg" alt="" class="full" />
        <h4>Garten</h4>
    </div>
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/03_Wohnzimmer.jpg" alt="" class="full" />
        <h4>Wohnzimmer</h4>
    </div>
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/05_Arbeitstisch.jpg" alt="" class="full" />
        <h4>Arbeitstisch</h4>
    </div>
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/06_Kueche.jpg" alt="" class="full" />
        <h4>Küche</h4>
    </div>
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="297" src="/grafix/fewo/07_Bad.jpg" alt="" class="full"  />
        <img width="297" src="/grafix/fewo/08_Bad.jpg" alt="" class="full" />
        <h4>Bad</h4>
    </div>
   <!-- <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/08_Bad.jpg" alt="" class="full" />
        <h4>Bad</h4>
    </div>-->
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/09_Schlafraum.jpg" alt="" class="full" />
        <h4>Schlafraum</h4>
    </div>
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/10_Schlafraum.jpg" alt="" class="full" />
        <h4>Schlafraum</h4>
    </div>
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/11_Aussendusche.jpg" alt="" class="full" />
        <h4>Außendusche</h4>
    </div>
    <div class="imageElement">
        <p>&nbsp;</p>
        <a href="#" title="open image" class="open"></a>
        <img width="600" src="/grafix/fewo/grundriss.jpg" alt="" class="full" />
        <h4>Grundriss</h4>
    </div>
</div>



