<div class="headertopright">
	<a href="mailto:?subject={$email_subject}&amp;body={$email_body}">
	<img src="../grafix/weiterempfehlen.gif" width="212" height="64" alt="weiterempfehlen" />
	</a>
</div>