<div class="hauptmenue">
  <ul>
    <li{if $menue_item=="startseite"} class="current"{/if}><a href="index.php?action_start=1">Startseite</a></li>
    <li{if $menue_item=="aktuelle_tour" || $menue_item=="aktuelle_tour_form" || $menue_item=="aktuelle_tour_keine"} class="current"{/if}><a href="index.php?action_aktuelle_tour_detail=1">Aktuelle Tour</a></li>
    <li{if $menue_item=="kurse"} class="current"{/if}><a href="index.php?action_kurse=1">Kurse</a></li>
    <li{if $menue_item=="tourenarchiv" || $menue_item=="tourenarchiv_detail"} class="current"{/if}><a href="index.php?action_tourenarchiv=1">Tourenarchiv</a></li>
    <li{if $menue_item=="anfragen"} class="current"{/if}><a href="index.php?action_anfragen_form=1">Anfragen</a></li>
  </ul>
</div>