<p>
Du hast Fragen, m&ouml;chtest mehr Informationen. Wir stehen dir gern zur Verf&uuml;gung.<br />
Schreib uns kurz. Wir melden uns bei dir so schnell es uns m&ouml;glich ist zur&uuml;ck.
</p>

<div class="trenner" style="margin-bottom: 10px;"></div>

{$form.errors.hinweis}

<form name="kontakt_form" action="index.php?action_kontakt_form_commit=1" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <fieldset>
    <legend></legend>
    <p>
      <label for="Name"><strong {if $form.errors.name == 1}class="fehler"{/if}>Name:</strong></label>
      <input id="Name" tabindex="1" class="name{if $form.errors.name == 1} fehler {else} text {/if}" type="text" maxlength="50" name="kontakt_formular_name" value="{$form.kontakt_formular_name}" />
    </p>
    <p>
      <label for="E-Mail"><strong {if $form.errors.email == 1}class="fehler"{/if}>E-Mail:</strong></label>
      <input id="E-Mail" tabindex="2" class="email{if $form.errors.email == 1} fehler {else} text {/if}" type="text" maxlength="50" name="kontakt_formular_email" value="{$form.kontakt_formular_email}" />
    </p>
    <p>
      <label for="Telefon"><strong {if $form.errors.telefon == 1}class="fehler"{/if}>Telefon:</strong></label>
      <input id="Telefon" tabindex="3" class="telefon{if $form.errors.telefon == 1} fehler {else} text {/if}" type="text" maxlength="50" name="kontakt_formular_telefon" value="{$form.kontakt_formular_telefon}" />
    </p>
    <div style="float: left; height: 25px; margin-top: 5px; margin-bottom: 10px;">
      <label for="Tourenankuendigung"><strong>Tourenank&uuml;ndigung:</strong></label>
    </div>      
    <div style="float: left; height: 25px; margin-top: 5px; margin-bottom: 10px;">      
      <input id="Tourenankuendigung" tabindex="4" class="tourenankuendigung checkbox" checked="checked" type="checkbox" name="kontakt_formular_tourenankuendigung" value="1" />
    </div>      
    <div style="float: left; height: 25px; margin-top: 5px; margin-bottom: 10px; padding-top: 10px;">      
      Bitte nehmt mich in den Verteiler der Tourenank&uuml;ndigung auf.
    </div>
    <p>
      <label for="Nachricht"><strong>Deine Nachricht:</strong></label>
      <textarea id="Nachricht" tabindex="5" rows="10" cols="30" name="kontakt_formular_nachricht">{$form.kontakt_formular_nachricht}</textarea>
    </p>

	<div style="float: left; height: 25px; margin-top: 5px; margin-bottom: 10px;">
		<label for="Captcha"><strong>Sicherheitsabfrage:</strong></label>
	</div>
	<div style="float: left; height: 25px; margin-top: 15px; margin-bottom: 40px;">	
    	Bitte trage das Ergebnis der Gleichung in das Eingabefeld ein.<br />
    	<img src="/index.php?action_captcha=1" alt="Bitte l&ouml;se diese Aufgabe" title="Bitte l&ouml;se diese Aufgabe" /><input id="Captcha" tabindex="6" class="captcha{if $form.errors.sicherheitscode == 1} fehler {else} text {/if}" type="text" maxlength="2" name="kontakt_formular_sicherheitscode" />
	</div>      

    <p>
      <label for="Absenden"></label>
      <input name="kontakt_form_submit" id="Absenden" tabindex="7" type="submit" value="Absenden" class="button" />
    </p>
  </fieldset>
</form>
