<h1>Weitere Links</h1>
<p>
{foreach from=$link_weitere item=tmplink_weitere}
	<a href="http://{$tmplink_weitere}" target="_blank">&raquo;{$tmplink_weitere}</a><br />
{/foreach}
</p>
<p>
<a href="javascript:history.back();">&raquo;zur&uuml;ck</a>
</p>
