{foreach from=$tourdetail item=tmptourdetail}

<h1>{$tmptourdetail->getTitel()}</h1>

<div class="trenner"></div>

<table width="100%" class="tourenarchiv">
  <tr><td colspan="2" height="18">&nbsp;</td></tr>
  <tr>
    <td class="bold" width="27%">Termin:</td>
    <td width="73%">{$tmptourdetail->date_mysql2german($tmptourdetail->getDatum())}</td>
  </tr>
  <tr>
    <td class="bold">Tourenbeginn:</td>
    <td>{$tmptourdetail->getUhrzeit()}</td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Treffpunkt:</td>
    <td>
		{$tmptourdetail->getTreffpunkt()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Parkm&ouml;glichkeit:</td>
    <td>
		{$tmptourdetail->getParkmoeglichkeit()}   
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Tour/Wanderweg:</td>
    <td>
		{$tmptourdetail->getWanderweg()}    
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Region:</td>
    <td>
		{$tmptourdetail->getRegion()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Tourenl&auml;nge:</td>
    <td>
		{$tmptourdetail->getLaenge()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Dauer der Tour:</td>
    <td>
		{$tmptourdetail->getDauer()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Bodenbeschaffenheit:</td>
    <td>
		{$tmptourdetail->getBodenbeschaffenheit()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Schwierigkeit:</td>
    <td>
		{$tmptourdetail->getSchwierigkeit()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td class="bold">Besonderheiten:</td>
    <td>
		{$tmptourdetail->getBesonderheiten()}
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
</table>

{if count($fotoimpressionen) gt 0}

<h2>Fotoimpressionen</h2>

<div class="trenner" style="margin-bottom: 20px;"></div>
<table width="99%">
{assign var="counter" value=0}
	<tr>
	{foreach from=$fotoimpressionen item=tmpfotoimpressionen}
		{if $counter %2 == 0 && $counter != 0}
			</tr><tr>
		{/if}
		{assign var="counter" value=$counter+1}
		<td width="49%" valign="top">
			<img src="/index.php?action_imagefile=1&amp;OID={$tmpfotoimpressionen->getOID()}&amp;width=280&amp;height=210" title="{$tmpfotoimpressionen->getTitel()}" alt="{$tmpfotoimpressionen->getTitel()}" width="280" />
			<br />
			{$tmpfotoimpressionen->getTitel()}
			<br /><br />
		</td>
	{/foreach}
	{if $counter %2 == 1}
		<td width="49%">&nbsp;</td>
	{/if}
	</tr>
</table>
{/if}

{/foreach}

<!--div class="trenner"></div-->

<!--table width="100%" class="tourenarchiv">
  <tr><td colspan="2" height="18">&nbsp;</td></tr>
  <tr>
    <td width="27%" class="bold">&nbsp;</td>
    <td width="73%">
      Walker, die die Tour mit erkundet haben oder direkt vorbereitet,<br />
      sind nat&uuml;rlich kostenfrei.
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td width="27%" class="bold">&nbsp;</td>
    <td width="73%">
      Leihgeb&uuml;hr f&uuml;r Nordic-Walking-St&ouml;cke: 2,50 &euro;<br />
      (wenn m&ouml;glich bitte vorher anmelden)    
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
  <tr>
    <td width="27%" class="bold">&nbsp;</td>
    <td width="73%">
      Organisatoren: Rainer, Sylvia und Max Uhlig<br />
      Telefon: 0162 2496 269 (Not-Telefon f&uuml;r R&uuml;ckfragen vor dem Start)    
    </td>
  </tr>
  <tr><td colspan="2" height="18">&nbsp;</td></tr>  
</table-->



