<table width="99%" class="tourenarchivliste">
	{assign var="counter" value=0}
	{assign var="imgRow" value=""}
	<tr>
		{foreach from=$tourlist item=tmptour}
			{assign var="tourOID" value=$tmptour->getOID()}
			{if $counter %3 == 0 && $counter != 0}
				</tr><tr>{$imgRow}</tr><tr><td colspan="3" height="30">&nbsp;</td></tr><tr>
				{assign var="imgRow" value=""}
			{/if}
			{assign var="counter" value=$counter+1}
			<td width="33%" valign="bottom">
				{$tmptour->date_mysql2german($tmptour->getDatum())}
				<br />
				<a href="index.php?action_tourenarchiv_detail=1&amp;OID={$tmptour->getOID()}">&raquo;{$tmptour->getTitel()}</a>
				{assign var="vorschaubild" value=$tmptour->getVorschaubild()}
				{php}
					$this->_tpl_vars['imgRow'].="<td valign=\"top\"  width=\"33%\">";
					$this->_tpl_vars['imgRow'].="<a href=\"index.php?action_tourenarchiv_detail=1&amp;OID=".$this->_tpl_vars['tourOID']."\">";
				{/php}
				{if $vorschaubild->OID}
					{assign var="vorschaubildOID" value=$vorschaubild->getOID()}
					{assign var="vorschaubildTitel" value=$vorschaubild->getTitel()}
					{php}
						$this->_tpl_vars['imgRow'].="<img src=\"/index.php?action_imagefile=1&amp;OID=".$this->_tpl_vars['vorschaubildOID']."&amp;width=120&amp;height=120\" title=\"".$this->_tpl_vars['vorschaubildTitel']."\" alt=\"".$this->_tpl_vars['vorschaubildTitel']."\" />";
					{/php}
				{else}
					{php}
						$this->_tpl_vars['imgRow'].="<img src=\"/index.php?action_imagefile=1&amp;OID=1&amp;width=120&amp;height=80\" title=\"kein Bild vorhanden\" alt=\"kein Bild vorhanden\" />";
					{/php}
				{/if}
				{php}
					$this->_tpl_vars['imgRow'].="</a></td>";
				{/php}
			</td>
		{/foreach}
		{if $counter %3 == 1}
			</tr><tr>{$imgRow}<td width="33%">&nbsp;</td><td width="33%">&nbsp;</td>
		{/if}
		{if $counter %3 == 2}
			</tr><tr>{$imgRow}<td width="33%">&nbsp;</td>
		{/if}	
	</tr>
</table>

