
{if $menue_item=='aktuelle_tour'}
	<a href="index.php?action_aktuelle_tour_form=1&amp;OID={$aktuelleTour->getOID()}">
	  <img src="../grafix/anmelden.gif" width="212" height="54" alt="anmelden" />
	</a>
	<div style="margin-top: 30px;"></div>
	{if count($bildertreff) gt 0}
		  <br />			
		  <strong>Treffpunkt:</strong>
		  <br />
		  {foreach from=$bildertreff item=tmpbildertreff}
		  	<img src="/index.php?action_imagefile=1&amp;OID={$tmpbildertreff->getOID()}&amp;width=212&amp;height=159" title="{$tmpbildertreff->getTitel()}" alt="{$tmpbildertreff->getTitel()}" width="212" style="margin-bottom: 3px;" />
		  {/foreach}
		  <br />		  
	{/if}
	{if count($bilderparken) gt 0}
		  <br />	
		  <strong>Tourenvorschau:</strong>
		  <br />
		  {foreach from=$bilderparken item=tmpbilderparken}
		  	<img src="/index.php?action_imagefile=1&amp;OID={$tmpbilderparken->getOID()}&amp;width=212&amp;height=159" title="{$tmpbilderparken->getTitel()}" alt="{$tmpbilderparken->getTitel()}" width="212" style="margin-bottom: 3px;" />
		  {/foreach}
		  <br />		  
	{/if}
{/if}

{if $menue_item=='tourenarchiv_detail'}
	<a href="index.php?action_tourenarchiv=1">
	  <img src="../grafix/tourenarchiv.gif" width="212" height="54" alt="zum Tourenarchiv" />
	</a>
{/if}

{if $menue_item=='aktuelle_tour_form'}
	<a href="index.php?action_aktuelle_tour_detail=1">
	  <img src="../grafix/tour.gif" width="212" height="54" alt="zur aktuellen Tour" />
	</a>
{/if}


{if $menue_item=='startseite' 
	|| $menue_item=='aktuelle_tour_keine'
	|| $menue_item=='kurse'
	|| $menue_item=='tourenarchiv'
	|| $menue_item=='tourenarchiv_detail'
	|| $menue_item=='anfragen'
	|| $menue_item=='kontakt'
	|| $menue_item=='impressum'}
	<div class="teaser">
		{assign var="counter" value=0}
		{foreach from=$link_ausgewaehlt item=tmplink_ausgewaehlt}
			{assign var="counter" value=$counter+1}	
		{/foreach}
		{if $counter > 0}
			<h2 class="orange">Ausgew&auml;hlte Links:</h2>
			<p>
				{foreach from=$link_ausgewaehlt item=tmplink_ausgewaehlt}
					<a href="http://{$tmplink_ausgewaehlt}" target="_blank">{$tmplink_ausgewaehlt}</a><br />
				{/foreach}
			</p>
		{/if}
		{assign var="counter" value=0}
		{foreach from=$link_weitere item=tmplink_weitere}
			{assign var="counter" value=$counter+1}	
		{/foreach}
		{if $counter > 0}
			<p>
				<a href="/index.php?action_link=1" class="orange">&raquo;Weitere Links</a>
			</p>
		{/if}
	</div>
{/if}

{if $menue_item=='startseite'}
	<div class="anfragen">
		<a href="index.php?action_anfragen_form=1">
			<img src="../grafix/anfragen.gif" width="212" height="54" alt="Anfragen" />
		</a>
	</div>
{/if}