<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>

    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <meta name="keywords" content="Nordic,Walking,Berlin,Gute,Laune,Tour,Bewegung,frische,Luft,Wanderung,Natur,Walker,wandern,Kurse,grün"/>
    <meta name="description" content="Nordic Walking mit den Gute Laune Walkern Berlin - Geführte Touren in und um Berlin"/>
    <meta name="abstract" content="Gute Laune Walker Berlin führt Nordic Walking Touren in und um Berlin durch"/>
    <meta name="language" content="de"/>
    <meta name="author" content="Rainer Uhlig"/>
    <meta name="robots" content="index,follow"/>
    <meta name="revisit-after" content="1"/>
    <!-- Layout CSS + JS ANFANG //-->
    <script src="/scripts/layout.js" type="text/javascript"></script>
    <link href="/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="/css/menue.css" rel="stylesheet" type="text/css"/>
    <!-- CSS Menue ENDE //-->
    <!-- CSS Style ANFANG //-->
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <!-- CSS Style ENDE //-->
    <!--[if lte IE 6]>
    <link href="/css/patch6.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="/css/patch7.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link href="/css/jd.gallery.css" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/scripts/jquery.bxslider.min.js" type="text/javascript"></script>

</head>
<body>
<div id="page_wrapper">
    <div id="headertop"></div>
    <div id="headertopright">
        {% block headerTopRight %}
            <div class="headertopright">
                <a href="mailto:?subject=Websiteempfehlung GuteLauneWalkerBerlin.de&amp;body=Hallo,%0A&#10;ich möchte Dir die Webseite www.GuteLauneWalkerBerlin.de empfehlen.%0A&#10;Sylvia, Rainer und Max bieten wechselnde Nordic Walking Touren in und um%0A&#10;Berlin für Jedermann an. Vieleicht wäre das ja auch was für Dich?%0A&#10;Viele Grüße!">
                    <img src="/grafix/weiterempfehlen.gif" width="212" height="64" alt="weiterempfehlen">
                </a>
            </div>
        {% endblock %}
    </div>
    <div style="clear: both;"></div>
    <div id="header">
        <div class="header"></div>
        <div class="bannerrotation">
            {% block bilderrotation %}
                {{ render(controller( 'AppBundle:Default:sidebarSlideshow' )) }}
            {% endblock %}
        </div>
    </div>
    <div class="clear"></div>
    <div id="navigation">
        {#{include file=$hauptmenue}#}
        {% block hauptmenue %}
        {% endblock %}
    </div>
    <div id="page">

        {% block left_container %}
            <div id="left">
                &nbsp;
            </div>
        {% endblock %}
        <div id="content">
            <div class="content">
                {#{include file=$content}#}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="teaser">
            {% block teaser %}
            {% endblock %}
            {#{include file=$teaser}#}
            <div class="anfragen">
                <a href="{{ path('requests') }}">
                    <img src="/grafix/anfragen.gif" width="212" height="54" alt="Anfragen">
                </a>
            </div>
            <div id="footer">
                {% block footermenue %}
                    {{ render(controller( 'AppBundle:Default:footerMenu', { 'page': '' } )) }}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="abstand_unten"></div>
</body>
</html>
