{# standard_layout.html.twig #}
{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            var $container = $('.sonata-ba-field-inline-table>div');
            var idParts = $container.attr('id').split(/_/)
            var entity = idParts[idParts.length - 1];
            var id = idParts[idParts.length - 2];
            var id_td='.sonata-ba-td-'+id+'_images-id';
            var sorter_td='.sonata-ba-td-'+id+'_images-sortierung';
            var image_td='.sonata-ba-td-'+id+'_images-filename';
            console.log(id);

            var hideButtons = function () {
                var first =true;
                var $lastItem =null;
                $($container).find('tr '+sorter_td + ' button').each(function(index,item){
                    if(first){
                        $(item).hide();
                        first = false;
                    }else{
                        $(item).show();
                        $lastItem = $(item);

                    }
                });
                if($lastItem) {
                    $lastItem.hide();
                }
            };

            var renumberSortfields = function (){
                $($container).find('tr '+sorter_td + ' input').each(function(index,item){
                    $(item).val(index);
                });
            };

            var initImage = function($container){
                if ($container.length) {
                    if(entity=='images'){
                        $($container).find('tr').each(function(index,item){

                            if(!$(item).find('th').length) {
                                $(item).find(id_td).css('display','none');
                                $(item).find(image_td + ' input').attr('type','hidden');
                                var filename = $(item).find(image_td + ' input').val();
                                var id= $(item).find(id_td + ' input').val();
                                if(id){
                                    $image = $('<img src="/image/'+id+'"/><div>' + filename + '</div>');
                                    $(item).find(image_td + ' ').append($image);
                                }
                            }else{
                                $(item).find('th:nth-child(2)').css('display','none');
                            }
                        });
                    }
                }
            };
            var initSorter=function ($container){
                if ($container.length) {
                    if(entity=='images'){
                        $($container).find('tr').each(function(index,item){
                            if(!$(item).find('th').length) {

                                $(item).find(sorter_td + ' input').attr('type','hidden');

                                $buttonUp = $('<button class="sorter up"><i class="fa fa-chevron-up " aria-hidden="true"></i></button>');
                                $buttonDown = $('<button class="sorter down"><i class="fa fa-chevron-down " aria-hidden="true"></i></button>');
                                $(item).find(sorter_td + ' ')
                                    .append($buttonUp)
                                    .append($buttonDown)
                                ;


                            }
                        });
                        hideButtons();
                    }
                }
            };
            //initSorter($container);
            var rowCount = 0;
            window.setInterval(function () {
                $container = $('.sonata-ba-field-inline-table>div')
                var curRowCount = $container.find('tr').length-1;
                if( curRowCount !=rowCount) {
                    rowCount = curRowCount;
                    initSorter($container);
                    initImage($container);
                }
            },200);

            $(document).on('click','.sorter.up', function(event){
                event.preventDefault();
                console.log('sort-up');
                $curRow = $(event.target).parents('tr');
                $prevRow = $curRow.prev();
                $prevRow.before($curRow);
                renumberSortfields();
                hideButtons();
            });

            $(document).on('click','.sorter.down', function(event){
                event.preventDefault();
                console.log('sort-down');
                $curRow = $(event.target).parents('tr');
                $nextRow = $curRow.next();
                $nextRow.after($curRow);
                renumberSortfields();
                hideButtons();
            });

        });
    </script>
{% endblock %}