{% extends 'AppBundle::base.html.twig' %}
 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'currentTour' } )) }}
 {% endblock %}
 {% block left_container %}
     <div id="left" style="width: 46px; height: 599px; background-image: url(/grafix/left_touren.gif);">
         &nbsp;
     </div>
 {% endblock %}


{% block teaser %}
    <a href="#anmeldung" class="g-button g-button-orange g-button-1-lines">
        Jetzt Anmelden
    </a>
     <div style="margin-top: 30px;"></div>
        <br>
    {% if  tour.treffpunkImages|length>0 %}
        <strong>Treffpunkt:</strong>
        <br>
    {% endif %}
    {% for image in tour.treffpunkImages %}
        <img src="{{ image.getFullFilename() | imagine_filter('slideshow') }}" alt="{{ image.titel }}" title="{{ image.titel }}"><br>
    {% endfor %}
    {% if  tour.parkenImages|length>0 %}
        <strong>Tourenvorschau:</strong>
        <br>
    {% endif %}
    {% for image in tour.parkenImages %}
        <img src="{{ image.getFullFilename() | imagine_filter('slideshow') }}" alt="{{ image.titel }}" title="{{ image.titel }}"><br>
    {% endfor %}

{% endblock %}

{% block content %}
    <h1>{{ tour.titel }}</h1>
    <div class="trenner"></div>
    <table width="100%" class="tourenarchiv">
        <tr><td colspan="2" height="18">&nbsp;</td></tr>
        {{ include('@App/Default/tourDetailPartial.html.twig') }}
        <tr><td colspan="2" height="18">&nbsp;</td></tr>
        <tr>
            <td class="bold">Unkostenbeitrag:</td>
            <td>
                {{ tour.teilnahmegebuehr }}
            </td>
        </tr>
        <tr><td colspan="2" height="18">&nbsp;</td></tr>
        <tr>
            <td class="bold">max. Teilnehmer:</td>
            <td>
                {{ tour.maxTeilnehmer }}
            </td>
        </tr>
        <tr><td colspan="2" height="18">&nbsp;</td></tr>
    </table>

    <div class="trenner"></div>

    <table width="100%" class="tourenarchiv">
        <tr><td colspan="2" height="18">&nbsp;</td></tr>
        <tr>
            <td width="27%" class="bold">&nbsp;</td>
            <td width="73%">
                Leihgeb&uuml;hr f&uuml;r Nordic-Walking-St&ouml;cke: 2,50 &euro;<br />
                (wenn m&ouml;glich bitte vorher anmelden)
            </td>
        </tr>
        <tr><td colspan="2" height="18">&nbsp;</td></tr>
        <tr>
            <td width="27%" class="bold">&nbsp;</td>
            <td width="73%">
                Organisatoren: Rainer, Sylvia und Max Uhlig<br />
                Telefon: 0177 40 56643 (Not-Telefon f&uuml;r R&uuml;ckfragen vor dem Start)
            </td>
        </tr>
        <tr><td colspan="2" height="18">&nbsp;</td></tr>
    </table>
    {#{% if tour.images|length>0 %}#}
        {#<h2>Parken und Treffpunkt</h2>#}

        {#<div class="trenner" style="margin-bottom: 20px;"></div>#}
        {#<table width="99%">#}
            {#{% for row in tour.parkenImages |batch(2) %}#}
                {#<tr>#}
                    {#{% for image in row %}#}
                        {#<td width="49%" valign="top">#}
                            {#<img src="{{ image.getFullFilename() | imagine_filter('detail_list') }}" alt="{{ image.titel }}" title="{{ image.titel }}">#}
                            {#<br/>#}
                            {#{{ image.titel }}#}
                            {#<br/><br/>#}
                        {#</td>#}
                    {#{% endfor %}#}
                {#</tr>#}
            {#{% endfor %}#}
            {#{% for row in tour.treffpunkImages |batch(2) %}#}
                {#<tr>#}
                    {#{% for image in row %}#}
                        {#<td width="49%" valign="top">#}
                            {#<img src="{{ image.getFullFilename() | imagine_filter('detail_list') }}" alt="{{ image.titel }}" title="{{ image.titel }}">#}
                            {#<br/>#}
                            {#{{ image.titel }}#}
                            {#<br/><br/>#}
                        {#</td>#}
                    {#{% endfor %}#}
                {#</tr>#}
            {#{% endfor %}#}

        {#</table>#}
    {#{% endif %}#}
    <a name="anmeldung"></a>
    <h2>Anmeldung</h2>
    <div class="trenner" style="margin-bottom: 20px;"></div>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(form) }}
    {#<form action="{{ path('requests') }}" method="post" enctype="multipart/form-data" accept-charset="utf-8">#}
    <fieldset>
        <legend></legend>
        <div>
            {{ form_errors(form.name) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name,{ 'attr': {'class': 'text'} }) }}
        </div>
        <div  class="spacer"></div>
        <div>
            {{ form_errors(form.vorname) }}
            {{ form_label(form.vorname) }}
            {{ form_widget(form.vorname,{ 'attr': {'class': 'text'} }) }}
        </div>
        <div  class="spacer"></div>
        <div>
            {{ form_errors(form.email) }}
            {{ form_label(form.email) }}
            {{ form_widget(form.email,{ 'attr': {'class': 'text'} }) }}
        </div>
        <div  class="spacer"></div>
        <div>
            {{ form_errors(form.phone) }}
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone,{ 'attr': {'class': 'text'} }) }}
        </div>
        <div  class="spacer"></div>
        <div>
            {{ form_errors(form.stoecke) }}
            {{ form_label(form.stoecke) }}
            {{ form_widget(form.stoecke,{ 'attr': {'class': 'text'} }) }}
            Paar Nordic Walking St&ouml;cke ausleihen.
        </div>
        <div  class="spacer"></div>
        <div>
            {{ form_errors(form.friends) }}
            {{ form_label(form.friends) }}
            {{ form_widget(form.friends,{ 'attr': {'class': 'text'} }) }}
            Freunde mit.
        </div>
        <div>
            {{ form_errors(form.announce) }}
            {{ form_label(form.announce) }}
            {{ form_widget(form.announce,{ 'attr': {'class': 'tourenankuendigung checkbox', 'checked':'checked'} }) }}
            Bitte nehmt mich in den Verteiler der Tourenank&uuml;ndigung auf.
        </div>
        <div  class="spacer"></div>
        <div>
            {{ form_errors(form.message) }}
            {{ form_label(form.message) }}
            {{ form_widget(form.message,{ 'attr': {'class': 'text'} }) }}
        </div>
        <div  class="spacer"></div>

        <div>
            {{ form_errors(form.recaptcha) }}
            <label for="Captcha"><strong>Sicherheitsabfrage:</strong></label>
            {{ form_widget(form.recaptcha, { 'attr': {
                'options' : {
                    'theme': 'clean',
                    'type': 'image',
                    'size': 'normal'
                },
            } }) }}
        </div>
        <div  class="spacer"></div>

        <div>
            <label for="Absenden"></label>
            <input name="anfrage_form_submit" id="Absenden" tabindex="7" type="submit" value="Absenden" class="button"/>
        </div>
    </fieldset>
    {{ form_end(form) }}

{% endblock %}

