<div class="footermenue">
    <ul>
        <li{% if page == 'homepage' %} class="current"{% endif %}><a href="{{ path('homepage') }}">Home</a></li>
        <li{% if page == 'requests' %} class="current"{% endif %}><a href="{{ path('requests') }}">Kontakt</a></li>
        <li{% if page == 'imprint' %} class="current"{% endif %}><a href="{{ path('imprint') }}">Impressum</a></li>
    </ul>
</div>
