{% extends 'AppBundle::base.html.twig' %}
{% block title %}GuteLauneWalkerBerlin - Startseite{% endblock %}

 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'imprint' } )) }}
 {% endblock %}
 {% block footermenue %}
     {{ render(controller( 'AppBundle:Default:footerMenu', { 'page': 'imprint' } )) }}
 {% endblock %}


{% block left_container %}
    <div id="left" style="width: 46px; height: 490px; background-image: url(/grafix/left_gutelaunewalker.gif);">
        &nbsp;
    </div>
{% endblock %}

{% block content %}
    <p>
        Rainer, Sylvia und Max Uhlig<br />
        S&uuml;derbrokweg 23<br />
        10407 Berlin<br /><br />
        E-Mail: <a href="mailto:gutelaunewalkerberlin@gmx.de">&raquo;GuteLauneWalkerBerlin@gmx.de</a>
    </p>
    <p>
        <a href="http://www.disclaimer.de/disclaimer.htm?farbe=DEF2C4/003300/003300/003300" target="_blank">&raquo;Disclaimer</a>
    </p>
    <p>
        Gestaltung und technische Umsetzung<br />
        ViperMedia<br />
        M. Neumann &amp; T. R&ouml;diger GbR<br />
        Schreinerstra&szlig;e 61<br />
        10247 Berlin<br />
        <a href="http://www.vipermedia.de" target="_blank">&raquo;www.vipermedia.de</a>
    </p>
{% endblock %}
