{% extends 'AppBundle::base.html.twig' %}
{% block title %}GuteLauneWalkerBerlin - Startseite{% endblock %}

 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'homepage' } )) }}
 {% endblock %}
 {% block footermenue %}
     {{ render(controller( 'AppBundle:Default:footerMenu', { 'page': 'homepage' } )) }}
 {% endblock %}


        {% block left_container %}
            <div id="left" style="width: 46px; height: 490px; background-image: url(/grafix/left_gutelaunewalker.gif);">
                &nbsp;
            </div>
        {% endblock %}

{% block content %}
    <h1>Nordic Walking mit den Gute Laune Walkern Berlin<br />Gef&uuml;hrte Touren in und um Berlin</h1>
    <div class="trenner"></div>
    <p>
        Wer Lust und Laune hat, Berlin von seiner gr&uuml;nen Seite kennen zu lernen und dabei noch aktiv sein
        m&ouml;chte, ist bei uns gern gesehen.<br />
        Wir  Sylvia, Rainer und Max  sind drei Instruktoren, die zwar die Bewegung in den Vordergrund
        r&uuml;cken wollen, jedoch ohne Wettkampfcharakter.<br />
        Wir verbinden aktive Bewegung mit dem Blick f&uuml;r die Natur und wechselnden Touren in und um Berlin
        f&uuml;r Jedermann.<br />
        Jeder Teilnehmer sollte jedoch mindestens 3 – 4 Stunden walken k&ouml;nnen.<br />
        Die Tourenl&auml;ngen werden im Vorfeld im Portal angezeigt.
    </p>
    <p>
        Bei uns ist  jeder willkommen, der Bewegung und gute Laune in Einklang bringen kann und Bewegung<br />
        nicht als Belastung des Alltages ansieht.
    </p>
    <p>
        Wer m&ouml;chte schon immer alleine walken?
    </p>

    <div class="trenner"></div>

    <p class="big" style="margin-top: 5px;">
        Wenn auch du nicht alleine walken m&ouml;chtest,<br />
        nimm an unseren Touren teil.<br />
        Wir freuen uns auf dich.
    </p>
{% endblock %}
