{% extends 'AppBundle::base.html.twig' %}

 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'lessons' } )) }}
 {% endblock %}
 {% block left_container %}
     <div id="left" style="width: 46px; height: 460px; background-image: url(/grafix/left_kurse.gif);">
         &nbsp;
     </div>
 {% endblock %}
{% block content %}

    <h1>Schnupperkurse</h1>
    <p>
        finden jeweils vor den monatlichen Touren statt (siehe Tourenank&uuml;ndigung) oder sind individuell bei uns buchbar.
    </p>
    <p>
        Wir starten mit einem kurzen Aufw&auml;rmprogramm, vermitteln erste Erfahrungen im Umgang mit Nordic
        Walking St&ouml;cken und Grundlagen der Bewegungsabl&auml;ufe. Mit abschlie&szlig;enden Dehnungs&uuml;bungen
        endet nach ca. 1 Stunden der Kurs. Lust aufs Schnuppern? Dann nehmt Kontakt mit uns auf:
    </p>
    <p>
        <a href="mailto:Schnupperkurse@GuteLauneWalkerBerlin.de?subject=Schnupperkurs%20-%20Gute%20Laune%20Walker%20Berlin">&raquo;Schnupperkurse@GuteLauneWalkerBerlin.de</a>
    </p>

    <div class="trenner" style="margin-bottom: 30px;"></div>

    <h1>Bewegung an frischer Luft in und um Berlin</h1>
    <p>
        Alle Touren aus dem Archiv sind auch individuell buchbar.<br />
        Preis nach Vereinbarung. Anmeldung unter:
    </p>
    <p>
        <a href="mailto:FrischeLuft@GuteLauneWalkerBerlin.de?subject=Bewegung%20an%20frischer%20Luft%20in%20und%20um%20Berlin">&raquo;FrischeLuft@GuteLauneWalkerBerlin.de</a>
    </p>


{% endblock %}

