<body>
<html>
<table>
    <tr>
        <td>Name</td>
        <td>{{ name }}</td>
    </tr>
    {% if isRegister %}
        <tr>
            <td>Vorname</td>
            <td>{{ vorname }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>Email</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>Tel</td>
        <td>{{ phone }}</td>
    </tr>
    {% if isRegister %}
        <tr>
            <td>Stöcke benötigt</td>
            <td>{{ stoecke }}</td>
        </tr>
        <tr>
            <td>Bringt Freunde mit</td>
            <td>{{ friends }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>Tourankündigung erwünscht</td>
        <td>{% if announce %}ja{% else %}nein{% endif %}</td>
    </tr>
    <tr>
        <td>Nachricht</td>
        <td>{{ message }}</td>
    </tr>
</table>
</html>
</body>