<div class="hauptmenue">
    <ul>
        <li{% if page == 'homepage' %} class="current"{% endif %}><a href="{{ path('homepage') }}">Startseite</a></li>
        <li{% if page == 'currentTour' %} class="current"{% endif %}><a href="{{ path('current_tour') }}">Aktuelle Tour</a></li>
        {#<li{% if page == 'lessons' %} class="current"{% endif %}><a href="{{ path('lessons') }}">Kurse</a></li>#}
        <li{% if page == 'preview_tours' %} class="current"{% endif %}><a href="{{ path('preview_tours') }}">Tourenvorschau</a></li>
        <li{% if page == 'tourArchive' %} class="current"{% endif %}><a href="{{ path('tour_archive') }}">Tourenarchiv</a></li>
        <li{% if page == 'requests' %} class="current"{% endif %}><a href="{{ path('requests') }}">Anfragen</a></li>
    </ul>
</div>