{% extends 'AppBundle::base.html.twig' %}

 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'currentTour' } )) }}
 {% endblock %}
 {% block left_container %}
     <div id="left" style="width: 46px; height: 599px; background-image: url(/grafix/left_touren.gif);">
         &nbsp;
     </div>
 {% endblock %}
{% block content %}

    <!-- h1>Zur Zeit keine aktuelle Tour</h1>

    <div class="trenner"></div-->


    <h1>Liebe Gute Laune Walker,</h1>
    <div class="trenner"></div>
    <p>wir sind uns noch nicht einig, welche Tour wir gehen m&ouml;chten.</p>

    <table width="90%" class="tourenarchiv">
        <tr>
            <td width="100%">
                <img src="/grafix/keine_tour.jpg" width="400" height="267" alt="Tourerkundung" title="Tourerkundung" />
            </td>
        </tr>
    </table>

    <p>In der Regel ben&ouml;tigen wir ca. 2 - 3 Wochen, um eine neue Tour zu erkunden,<br />
        nachdem die letzte durchgef&uuml;hrt wurde.</p>
    <p>Habt bitte etwas Geduld.</p>
    <p>Bis dahin die besten Gr&uuml;&szlig;e vom Gute Laune Walker Berlin Team.</p>

    <p>Rainer, Sylvia und Max</p>


{% endblock %}

