{% extends 'AppBundle::base.html.twig' %}

 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'preview_tours' } )) }}
 {% endblock %}
 {% block left_container %}
     <div id="left" style="width: 46px; height: 1026px; background-image: url(/grafix/left_touren.gif);">
         &nbsp;
     </div>
 {% endblock %}

{% block content %}
    <h1>Liebe Gute Laune Walker,</h1>
    <div class="trenner"></div>
    <p>Solltest Du Interesse an einer unserer Touren haben, melde dich bitte
        spätestens 3 Tage vor der jeweiligen Tour über die Internetseite der
        "Gute Laune Walker Berlin" an.
    </p>
    <p>
        Die Touren sind auf maximal 15 Personen begrenzt.
    </p>


    <p>Bis dahin die besten Gr&uuml;&szlig;e vom Gute Laune Walker Berlin Team.</p>

    <p>Rainer, Sylvia und Max</p>

    {% if tours|length > 0 %}
        <table width="99%" class="tourenarchivliste">
            {# @var tour \AppBundle\Entity\Tour #}
            {% for tour in tours %}
                    <tr>
                        <td width="33%" rowspan="2" valign="top">
                            <a href="{{ path('tour_preview_detail',{id:tour.id}) }}">
                                <img src="{{ tour.preview.getFullFilename() | imagine_filter('slideshow') }}" alt="">
                            </a>
                        </td>
                        <td width="15%"><strong> {{ tour.datum|date("d.m.Y") }}</strong></td>
                        <td width="36%"><strong>{{ tour.titel }}</strong></td>
                        <td width="15%"><strong>{{ tour.laenge }}</strong></td>
                    </tr>
                <tr>
                    <td colspan="3"> {{ tour.vorschautext }} ... <a href="{{ path('tour_preview_detail',{id:tour.id}) }}">mehr Infos</a></td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;<br>&nbsp;</td>
                </tr>

            {% endfor %}

        </table>
    {% else %}
        aktuell keine Touren geplant.
    {% endif %}

{% endblock %}