{% extends 'AppBundle::base.html.twig' %}
{% block title %}GuteLauneWalkerBerlin - Startseite{% endblock %}

 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'homepage' } )) }}
 {% endblock %}
 {% block footermenue %}
     {{ render(controller( 'AppBundle:Default:footerMenu', { 'page': 'homepage' } )) }}
 {% endblock %}


{% block left_container %}
    <div id="left" style="width: 46px; height: 490px; background-image: url(/grafix/left_kontakt.gif);">
        &nbsp;
    </div>
{% endblock %}

{% block content %}
    <p>
        Schreib uns deine W&uuml;nsche, Anfragen und Kommentare.<br/>
        Wir melden uns bei dir so schnell es uns m&ouml;glich ist.
    </p>

    <div class="trenner" style="margin-bottom: 10px;"></div>

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(form) }}
    {#<form action="{{ path('requests') }}" method="post" enctype="multipart/form-data" accept-charset="utf-8">#}
        <fieldset>
            <legend></legend>
            <div>
                {{ form_errors(form.name) }}
                {{ form_label(form.name) }}
                {{ form_widget(form.name,{ 'attr': {'class': 'text'} }) }}
            </div>
            <div  class="spacer"></div>
            <div>
                {{ form_errors(form.email) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email,{ 'attr': {'class': 'text'} }) }}
            </div>
            <div  class="spacer"></div>
            <div>
                {{ form_errors(form.phone) }}
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone,{ 'attr': {'class': 'text'} }) }}
            </div>
            <div  class="spacer"></div>
            <div>
                {{ form_errors(form.announce) }}
                {{ form_label(form.announce) }}
                {{ form_widget(form.announce,{ 'attr': {'class': 'tourenankuendigung checkbox', 'checked':'checked'} }) }}
                Bitte nehmt mich in den Verteiler der Tourenank&uuml;ndigung auf.
            </div>
            <div  class="spacer"></div>
            <div>
                {{ form_errors(form.message) }}
                {{ form_label(form.message) }}
                {{ form_widget(form.message,{ 'attr': {'class': 'text'} }) }}
            </div>
            <div  class="spacer"></div>

            <div>
                {{ form_errors(form.recaptcha) }}
                <label for="Captcha"><strong>Sicherheitsabfrage:</strong></label>
                {{ form_widget(form.recaptcha, { 'attr': {
                    'options' : {
                        'theme': 'clean',
                        'type': 'image',
                        'size': 'normal'
                    },
                } }) }}
            </div>
            <div  class="spacer"></div>

            <div>
                <label for="Absenden"></label>
                <input name="anfrage_form_submit" id="Absenden" tabindex="7" type="submit" value="Absenden" class="button"/>
            </div>
        </fieldset>
    {{ form_end(form) }}

{% endblock %}
