<ul class="bxslider">
    {% for image in images %}
        <li><img src="{{ image.getFullFilename() | imagine_filter('slideshow') }}" title="{{ image.titel }}" alt="{{ image.titel }}"></li>
    {% endfor %}
</ul>
<script type="text/javascript">
    $('.bxslider').bxSlider({
        mode: 'horizontal',
        captions: true,
        infiniteLoop:true,
        controls:false,
        auto: true,
        autoControls: false,
        autoStart:true,
        pager:false
    });
</script>
