{% extends 'AppBundle::base.html.twig' %}

 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'tourArchive' } )) }}
 {% endblock %}
 {% block left_container %}
     <div id="left" style="width: 46px; height: 026px; background-image: url(/grafix/left_tourenarchiv.gif);">
         &nbsp;
     </div>
 {% endblock %}
{% block teaser %}
    <a href="{{ path('tour_archive') }}" class="g-button g-button-gruen g-button-2-lines">
        Zurück zum Tourenarchiv
    </a>
{% endblock %}

{% block content %}

    <h1>{{ tour.titel }}</h1>

    <div class="trenner"></div>

    <table width="100%" class="tourenarchiv">
        <tr>
            <td colspan="2" height="18">&nbsp;</td>
        </tr>
        {{ include('@App/Default/tourDetailPartial.html.twig') }}
        <tr>
            <td colspan="2" height="18">&nbsp;</td>
        </tr>
    </table>

    {% if tour.images|length>0 %}
        <h2>Fotoimpressionen</h2>

        <div class="trenner" style="margin-bottom: 20px;"></div>
        <table width="99%">
            {% for row in tour.images |batch(2) %}
                <tr>
                    {% for image in row %}
                        <td width="49%" valign="top">
                            <img src="{{ image.getFullFilename() | imagine_filter('detail_list') }}" alt="{{ image.titel }}" title="{{ image.titel }}">
                            <br/>
                            {{ image.titel }}
                            <br/><br/>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    {% endif %}

{% endblock %}
