<tr>
    <td class="bold" width="27%">Termin:</td>
    <td width="73%">
        {{ tour.datum|date("d.m.Y") }}
    </td>
</tr>
<tr>
    <td class="bold">Tourenbeginn:</td>
    <td>
        {{ tour.uhrzeit }}
    </td>
</tr>
<tr><td colspan="2" height="18">&nbsp;</td></tr>
<tr>
    <td class="bold">Treffpunkt:</td>
    <td>
        {{ tour.treffpunkt }}
    </td>
</tr>
<tr><td colspan="2" height="18">&nbsp;</td></tr>
<tr>
    <td class="bold">Parkm&ouml;glichkeit:</td>
    <td>
        {{ tour.parkmoeglichkeit }}
    </td>
</tr>
<tr><td colspan="2" height="18">&nbsp;</td></tr>
<tr>
    <td class="bold">Tour/Wanderweg:</td>
    <td>
        {{ tour.wanderweg }}
    </td>
</tr>
<tr><td colspan="2" height="18">&nbsp;</td></tr>
<tr>
    <td class="bold">Region:</td>
    <td>
        {{ tour.region }}
    </td>
</tr>
<tr><td colspan="2" height="18">&nbsp;</td></tr>
<tr>
    <td class="bold">Tourenl&auml;nge:</td>
    <td>
        {{ tour.laenge }}
    </td>
</tr>
<tr><td colspan="2" height="18">&nbsp;</td></tr>
<tr>
    <td class="bold">Dauer der Tour:</td>
    <td>
        {{ tour.dauer }}
    </td>
</tr>
<tr><td colspan="2" height="18">&nbsp;</td></tr>
<tr>
    <td class="bold">Bodenbeschaffenheit:</td>
    <td>
        {{ tour.bodenbeschaffenheit }}
    </td>
</tr>
<tr><td colspan="2" height="18">&nbsp;</td></tr>
<tr>
    <td class="bold">Schwierigkeit:</td>
    <td>
        {{ tour.schwierigkeit }}
    </td>
</tr>
<tr><td colspan="2" height="18">&nbsp;</td></tr>
<tr>
    <td class="bold">Besonderheiten:</td>
    <td>
        {{ tour.besonderheiten }}
    </td>
</tr>