{% extends 'AppBundle::base.html.twig' %}

 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'tourArchive' } )) }}
 {% endblock %}
 {% block left_container %}
     <div id="left" style="width: 46px; height: 1026px; background-image: url(/grafix/left_tourenarchiv.gif);">
         &nbsp;
     </div>
 {% endblock %}

{% block content %}

    <table width="99%" class="tourenarchivliste">
        {# @var tour \AppBundle\Entity\Tour #}
        {% for row in tours|batch(3) %}
            <tr>
                {% for tour in row %}
                    <td style="vertical-align: top;width: 33.3%">
                        {{ tour.datum|date("d.m.Y") }}<br>
                        <a href="{{ path('tour_archive_detail',{id:tour.id}) }}">
                            {{ tour.titel }}
                        </a><br>
                        {#{{  dump(tour.images.get(0)) }}#}
                        {% set image = tour.images.get(0) %}
                        {% if tour.preview %}
                            <a href="{{ path('tour_archive_detail',{id:tour.id}) }}">
                                <img src="{{ tour.preview.getFullFilename() | imagine_filter('thumb_list') }}" alt="">
                            </a>
                        {% endif %}
                        <br>
                    </td>

                {% endfor %}
            </tr>
        {% endfor %}

    </table>


{% endblock %}