{% extends 'AppBundle::base.html.twig' %}

 {% block hauptmenue %}
     {{ render(controller( 'AppBundle:Default:menu', { 'page': 'preview_tours' } )) }}
 {% endblock %}

{% block teaser %}
    <a href="{{ path('preview_tours') }}" class="g-button g-button-gruen g-button-2-lines">
        Zurück zur Tourenvorschau
    </a>
        <div style="margin-top: 30px;"></div>
        <br>
        {% if  tour.treffpunkImages|length>0 %}
            <strong>Treffpunkt:</strong>
            <br>
        {% endif %}
        {% for image in tour.treffpunkImages %}
            <img src="{{ image.getFullFilename() | imagine_filter('slideshow') }}" alt="{{ image.titel }}" title="{{ image.titel }}"><br><br>
        {% endfor %}
        {% if  tour.parkenImages|length>0 %}
            <strong>Tourenvorschau:</strong>
            <br>
        {% endif %}
        {% for image in tour.parkenImages %}
            <img src="{{ image.getFullFilename() | imagine_filter('slideshow') }}" alt="{{ image.titel }}" title="{{ image.titel }}"><br><br>
        {% endfor %}

{% endblock %}

{% block content %}

    <h1>{{ tour.titel }}</h1>
    <p>{{ tour.vorschautext|nl2br }}</p>

    <div class="trenner"></div>

    <table width="100%" class="tourenarchiv">
        <tr>
            <td colspan="2" height="18">&nbsp;</td>
        </tr>
        {{ include('@App/Default/tourDetailPartial.html.twig') }}
        <tr>
            <td colspan="2" height="18">&nbsp;</td>
        </tr>
    </table>

    {% if tour.images|length>0 %}
        <h2>Fotoimpressionen</h2>

        <div class="trenner" style="margin-bottom: 20px;"></div>
        <table width="99%">
            {% for row in tour.images |batch(2) %}
                <tr>
                    {% for image in row %}
                        <td width="49%" valign="top">
                            <img src="{{ image.getFullFilename() | imagine_filter('detail_list') }}" alt="{{ image.titel }}" title="{{ image.titel }}">
                            <br/>
                            {{ image.titel }}
                            <br/><br/>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    {% endif %}

{% endblock %}
