body,td{
	font-family:verdana,geneva,sans-serif;
	font-size:10px;
	color:#333333;
}
th{
	font-family:verdana,geneva,sans-serif;
	font-size:10px;
	color:#333333;
	font-weight: bolder;
	border-bottom: 1px solid #999999;
	background: #9BC3EF;
}
.touren {
	margin-left: 30px;
}
.touren table {
	border: 0px solid #333333;
}

.touren input.readonly {
	background-color: #ddd;
}
.touren input {
	width: 300px;
	border: 1px solid #999;
}
.touren textarea {
	border: 1px solid #999;
	overflow: auto;
	width: 300px;
	height: 50px;
}
.touren select {
	width: 250px;
}

.links {
	margin-left: 30px;
}
.links input {
	width: 300px;
	border: 1px solid #999;
}
.links textarea {
	border: 1px solid #999;
	overflow: auto;
	width: 300px;
	height: 100px;
}

td.action{
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background:#FFC14D;
}
div.action{
	border: 1px solid #333333;
	background:#FFC14D;
}
.nav_link{
	padding: 3px 3px 3px 3px;
	text-align: center;
}
.nav_link_sel{
	background:#ffffff;
	padding: 3px 3px 3px 3px;
	text-align: center;
	border-bottom: 1px solid #0F71B0;
}

div.nav_link_sel a,div.nav_link a{
	font-size: 10px; 
	font-weight: bold;  
	color: #0F71B0;       
	text-decoration: none;
}

.error{
	font-family:verdana,geneva,sans-serif;
	font-size:10pt;
	color:#ff0000;
}
a{
	font-family:verdana,geneva,sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
}
a:hover{
	color:#ff0000;
}
input,textarea,option,select{
	font-family:verdana,geneva,sans-serif;
	font-size:10px;
	color:#333333;	
}
input.button{
	border: 1px solid #333333;
	background:#FFC14D;
	font-family:verdana,geneva,sans-serif;
	font-size:10px;
	color:#333333;	
	font-weight:bold;
	width: 100px;
}
