/* HauptMenue */
.hauptmenue {
	margin-left: 70px;
}
.hauptmenue ul {
	float: left;
	margin: 8px 0 0 0;
	padding: 0;
	width: 100%;
}

.hauptmenue ul li {
	display: inline;
}

.hauptmenue ul li a {
	color: #003300;
	float: left;
	font-weight: bold; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 24px;
	text-decoration: none;
}

.hauptmenue ul li a:hover {
	color: #fff;
	float: left;
	font-weight: bold; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 24px;
	text-decoration: underline;
}

.hauptmenue ul li.current a {
	color: #fff;
	text-decoration: underline;	
}
/* Menue unten rechts im Footer */
.footermenue {
	padding-left: 3px;	
}
.footermenue ul {
	margin: 10px 0 0 0px;
	padding: 0;
	width: 100%;
}
.footermenue ul li {
	display: inline;
}
.footermenue ul li a {
	color: #fff;
	float: left;
	font-weight: bold; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin-left: 12px;
}
.footermenue ul li a:hover {
	color: #fff;
	float: left;
	font-weight: bold; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	margin-left: 12px;
}
.footermenue ul li.current a {
	color: #fff;
	text-decoration: underline;	
}
